#collapse1{
    overflow-y:scroll;
    height:620px;
}
.description-container {
    width: 40px; /* Điều chỉnh kích thước để phù hợp với bảng */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }